<h1>Kittens!!</h1>
<% @kittens.each do |kitten| %>
  <h4><%= kitten.name %></h4>
  <ul>
    <li>Age: <%= kitten.age %></li>
    <li>Cuteness: <%= kitten.cuteness %></li>
    <li>Softness: <%= kitten.softness %></li>
  </ul>
  <%= link_to "Destroy #{kitten.name}", kitten, method: "delete", data: { confirm: "Are you sure you want to kill #{kitten.name}?" } %>
<% end %>
<%= link_to "Create a new Kitten!", new_kitten_path %>
